.message {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

//弹出框
.messageModal {
  width: 350px;
  height: 150px;
  border: dotted 1px blue;
  border-radius: 5px;
  z-index: 1;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
}

.messageModal .tittle {
  border-bottom: 1px solid #e3e8ee;
  padding: 5px 10px;
  line-height: 1;
  text-align: left;
}

.messageModal .tittle .text {
  display: inline-block;
  width: 100%;
  height: 20px;
  line-height: 20px;
  font-size: 14px;
  color: #464c5b;
  font-weight: 700;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.messageModal .tittle .btn {
  padding: 4px 10px;
  font-size: 32px;
  position: absolute;
  right: 6px;
  top: 2px;
  overflow: hidden;
  cursor: pointer;
}

.messageModal .content {
  padding: 16px;
  font-size: 15px;
  line-height: 1.5;
}

.messageModal .footer {
  border-top: 1px solid #e3e8ee;
  padding: 12px 18px;
  text-align: right;
}

.close {
  height: 30px;
  width: 30px;
  float: right;
}

//材料信息面板
.materialTittle {
  width: 100%;
  text-align: center;
  line-height: 35px
}

.materialTittle .close {
  font-size: 31px;
}

.material .btn {
  margin: 20px 30px 0 30px
}

.material label, .newMaterial label{
  margin: 10px 0;
}

.materialList, .newMaterial {
  list-style: none;
  margin: 0;
  padding: 0;
}

.materialList .property, .newMaterial .property{
  width: 80px;
  display: inline-block
}

.materialList .value, .newMaterial .value {
  width: 130px;
  display: inline-block;
}

.material .add {
  display: block;
  margin-left: 210px;
  font-size: 10px;
  padding: 3px 6px;
}

.material input {
  border-radius: 3px;
}

.docking-panel .docking-panel-footer {
  z-index: 1;
}

.docking-panel .docking-panel-scroll {
  height: calc(100% - 80px);
}

.docking-panel .confirmButton {
  position: absolute;
  left: 50%;
  bottom: 1px;
  transform: translateX(-50%);
  z-index: 2;
}
