.upload {
  width: 400px;
  position: absolute;
  top: 150px;
  left: 80%;
  transform: translate(-50%, -50%);
  z-index: 1;
  background-color: #f6f6f6;
}

.btn-dangerous {
  position: absolute;
  top: 0;
  left: 80%;
}
